/*.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  min-height: 70vw;
  opacity: 0.8;
  z-index: -1;
}

.footer__link:hover .cover__background {
  opacity: 0.8;
    -webkit-transition: all.5s ease;
    -moz-transition:     all.5s ease;
    -o-transition:       all.5s ease;
    transition:          all.5s ease;
}

@media screen and (max-width: 1024px)  {

  }



@media screen  and (max-width: 800px) {
  .cover__background {
    height: 100px;
  }

} 

*/
