.cover {
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 92px;
}


@media screen and (min-width: 300px) and (max-width: 1024px){
  .cover  {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

} 

@media screen and(max-width: 1024px){
  .cover  {
    min-height: 40vh;
  }

} 

@media screen and (max-width: 768px) {
  .cover  {
    margin-bottom: 88px;
    min-height: 40vh;
  }

} 

@media screen and (max-width: 465px) {
    .cover  {
      margin-bottom:  64px;
      min-height: 30vh;
    }
 
} 

