.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    margin-bottom: 32px;
    white-space: pre-line;
    text-align: center;
    min-height:152px;
}



@media screen and (max-width: 1024px) {
    .cover__title {
        min-height:152px;
    }
} 

@media screen and (max-width: 768px) {
    .cover__title {
        min-height:70px;
        font-size: 32px;
        line-height: 35px;
    }
} 

@media screen and (max-width: 500px) {
    .cover__title {
        min-height:70px;
        font-size: 24px;
        line-height: 28px;
    }
} 