.cover__link{
    position: relative;
    text-decoration: none;
    display: block;
    padding: 92px 48px;
    background-image: url(../../../images/cover-trains.jpg);
    color: #FFFFFF;
    background-size: 100% 100%;
    z-index: 1;
    max-width: 1184px;
}

.cover__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  #2A2C2F;
    opacity: 0.3;
    z-index: -1;
}

.cover__link:hover::after{
    opacity: 0.8; 
}


  
 