.root__cover {
    background-image: url(../../../images/cover-trains.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0.8;
}

.footer__link:hover .root__cover{
    opacity: 0.3;
    transition: opacity 1s linear 2s;
  }
  
  @media screen and (max-width: 1024px)  {
  
    }
  
  
  
  @media screen  and (max-width: 1000px) {
    .root__cover {
      height: 100px;
    }
  
  } 
  