.intro__title {
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 107%;
color: #FFFFFF;
margin-bottom: 40px;
}

@media all and (max-width: 800px) {
    .intro__title  {
        font-size: 32px;
    }
} 

