.place__website {
    list-style-type: none; 
    align-self: end;
    text-decoration-line: none;  
    color: #FFFFFF; 
    padding-inline-start: 0;
}

@media screen and (max-width: 740px) {
    .place__website  {
        padding-left: 3%;
        padding-right: 3%;
    }
} 