.header__logo{
/*background-image: url(../../../images/header-logo.svg);  */
max-width: 176px;
width: 100%;
}

@media screen and (max-width: 740px) {
    .header__logo  {
        transform: scale(0.8);         
    }

} 