.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1065px;
    width: 100%;

}

@media screen and (max-width: 465px) {
    .footer  {
      flex-direction: column;
      align-items: stretch;
    }
 
} 